.App {
  text-align: center;
}

form{
  background-color: #FFCFCF;
  color: blue;
  display: inline-block;
  text-align: justify;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
}

form div{
  margin: 15px;
}

form label{
  display: inline-block;
  width: 150px;
}

.innerLabel{
  width: 400px;
  text-align: center;
  color: #ED3EF7;
  font-weight: 700;
}

.innerButton{
  text-align: center;
  
}

span{
  display: inline-block;
  width: 75px;
}

h1{
  text-align: center;
  color: #295F98;
}
